*{
    margin: 0px;
    padding:0px;
    border: hidden;
    font-family:"Roboto", Arial, sans-serif;
    list-style-type: none;
}
.sec1-maindiv-1{
    display: flex;
    justify-content:space-around;
    padding: 10px;
    background-color: #589167;
    color: white;
}
.sec1-div-1>i{
    margin-right: 5px;
    font-size: 11px;
}
.sec1-div-1>span{
    margin-right:20px;
    font-size:16px
}
.sec1-div-2>i{
    margin-left: 30px;
    font-size: 16px
}
.sec1-div-2{
    margin-left:20px;
}
.sec2-div2-sp-1 a{
    text-decoration: none;
    color: black;   
}
.sec2-div2-sp-2 a{
    text-decoration: none;
    color: black;   
}
.sec2-div2-sp-1 a:hover{
    color:#589167;
}
.sec2-div2-sp-2 a:hover{
    color:#589167 ;
}
.sec2-div2-sp-3 a:hover{
    text-decoration: none;
    color:#589167 
}

.sec2-div2-sp-3 a{
    text-decoration: none;
    color: black;
}
/* .sec2-div2-sp-3 a :hover{
    color:#589167 ;
} */
 .sec2-div2-sp-4 a{
    color:black;
    text-decoration:none;
 }
.sec2-div2-sp-4 a:hover{
    color:#589167 ;
    text-decoration: none;
}
.sec2-div2-sp-5 a{
    color:black ;
    text-decoration: none;
}
.sec2-div2-sp-5 a:hover{
    color:#528760 ;
    text-decoration: none;
}
.sec2-div2-sp-6 a{
    color:#589167 ;
    text-decoration: none;
}
.sec2-div2-sp-6 a:hover{
    color:#589167 ;
}
.sec2-div2-sp-7 a{
    color: black;
    text-decoration: none;
}
.sec2-div2-sp-7 a:hover{
    color:#589167;
}
.sec2-maindiv-1{
    display: flex;
    justify-content: space-around;
}
.head-2{
   position:sticky;
    top:0px;
    z-index: 10;
     padding:30px;
     background-color: white;
}
.sec2-div-1 p{
    font-weight: 00;
    font-size: 18px;
    margin-left: 30PX;
}
.sec3-div2-p-2{
    line-height:23px;
    font-weight:100;
}
.sec2-div-2 span{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}
.sec2-div-2{
    margin-right:30px;
}
.sec3-div1-img-1{
    width: 1532px;
}
.sec3-div-1{
    background-image:url(https://preview.colorlib.com/theme/counselor/images/bg_5.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: #589167; */
    padding: 140px;
}
.sec3-div1-p-1{
    margin-left: 560px;
    padding-top: 160px;
    font-size: 16px;
    color: #27322d;
    font-weight: 640;
    position: relative;
    top: 35px;
}
.sec3-div1-p-2{
     margin-left: 500px;
    /* padding-top: 150px; */
    font-size: 60px;
    color: black;
    font-weight: 550;
    position: absolute;
    top: 480px;
}
.sec4-div1-p-1{
    color: #4e815c;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.sec4-div1-p-2{
    color: #494948;
    font-size: 42px;
    font-weight:600;
}
.sec4-div-1{
    margin-top: -250px;
    text-align: center;
}
.sec4-div2-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div2-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div2-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div2-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div2-p1:hover{
    background-color: #528760;
}
.sec4-18:hover{
  color: white;
}
.sec4-div2-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div2-p3{
    line-height:25px;
    font-size: 16px;   
    color: #808080;
}
.sec4-div-2{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-div3-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div3-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div3-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div3-p1:hover{
    background-color: #528760;
}
.sec4-div3-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div3-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div3-p3{
    line-height:25px;
    font-size: 16px;  
    color: #808080; 
}
.sec4-div-3{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-div4-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div4-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div4-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div4-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div4-p1:hover{
    background-color: #528760;
}
.sec4-div4-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div4-p3{
    line-height:25px;
    font-size: 16px;  
    color: #808080; 
}
.sec4-div-4{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-maindiv2{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}
.sec4-div5-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div5-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div5-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div5-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div5-p1:hover{
    background-color: #528760;
}
.sec4-18:hover{
  color: white;
}
.sec4-div5-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div5-p3{
    line-height:25px;
    font-size: 16px;   
    color: #808080;
}
.sec4-div-5{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-div6-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div6-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div6-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div6-p1:hover{
    background-color: #528760;
}
.sec4-div6-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div6-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div6-p3{
    line-height:25px;
    font-size: 16px;  
    color: #808080; 
}
.sec4-div-6{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-div7-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div7-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div7-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div7-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div7-p1:hover{
    background-color: #528760;
}
.sec4-div7-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div7-p3{
    line-height:25px;
    font-size: 16px;  
    color: #808080; 
}
.sec4-div-7{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-maindiv3{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}
.sec4-div8-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div8-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div8-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div8-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div8-p1:hover{
    background-color: #528760;
}
.sec4-18:hover{
  color: white;
}
.sec4-div8-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div8-p3{
    line-height:25px;
    font-size: 16px;   
    color: #808080;
}
.sec4-div-8{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-div9-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div9-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div9-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div9-p1:hover{
    background-color: #528760;
}
.sec4-div9-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div9-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div9-p3{
    line-height:25px;
    font-size: 16px;  
    color: #808080; 
}
.sec4-div-9{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-div10-img-1{
    width: 350px;
    height: 300px;
}
.sec4-div10-p1{
    border-radius: 50px;
    width:100px;
    height:100px;
    /* border: 2px solid red; */
    text-align: center;
     align-content: center;
     position: relative;
     top:-50px;
     margin-left: 130px;
     background-color: white;
}
.sec4-div10-p1 span{
    color: #528760;
    font-size: 30px;
    font-weight: 700;
}
.sec4-div10-p1 p{
    font-size:30px;
    font-weight: 700;
}
.sec4-div10-p1:hover{
    background-color: #528760;
}
.sec4-div10-p2{
     font-size:22px;
     font-weight: 600;
     margin-top: -40px;
     margin-bottom: 30px;
}
.sec4-div10-p3{
    line-height:25px;
    font-size: 16px;  
    color: #808080; 
}
.sec4-div-10{
    width: 350px;
    text-align: center;
    margin-right: 30px;
}
.sec4-maindiv4{
    display:flex;
    justify-content: center;
    margin-top: 40px;
}
.sec5-div-1{
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-top: 50px;

}
.sec5-div1-p-1 a{
    height: 40px;
    width: 40px;
    color: #589167;
    border-radius: 50%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 10px;
    text-align:center;
    text-decoration: none;
    /* margin-left: 10px; */
}
.sec5-div1-p-2 a{
    height:40px;
    width: 40px;
    /* font-size: 40px; */
    /* color: black; */
    border-radius: 100%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 15px;
    text-align:center;
    text-decoration: none;
    background-color:#589167;
    color: white;
    /* margin-left: 10px; */
}
.sec5-div1-p-3 a{
    height: 40px;
    width: 40px;
    color: #589167;
    border-radius: 100%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 15px;
    text-align:center;
    text-decoration: none;
    /* background-color:#589167; */
       /* margin-left: 10px; */
}
.sec5-div1-p-4 a{
    height: 40px;
    width: 40px;
    color: #589167;
    border-radius: 50%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 10px;
    text-align:center;
    text-decoration: none;
       /* margin-left: 10px; */
}
.sec5-div1-p-5 a{
    height: 40px;
    width: 40px;
    color: #589167;
    border-radius: 50%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 10px;
    text-align:center;
    text-decoration: none;
       /* margin-left: 10px; */
}
.sec5-div1-p-6 a{
    height: 40px;
    width: 40px;
    color: #589167;
    border-radius: 50%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 10px;
    text-align:center;
    text-decoration: none;
       /* margin-left: 10px; */
}
.sec5-div1-p-7 a{
    height: 40px;
    width: 40px;
    color: #589167;
    border-radius: 50%;
    border: 1px solid rgba(201, 191, 191, 0.827);
    padding: 10px;
    text-align:center;
    text-decoration: none;
       /* margin-left: 10px; */
}
.sec12{
    margin-top: 160px;
}
.sec12-div1-p-1{
    margin-bottom:40px;
    font-size: 24px;
    font-weight: 500;
}
.sec12-div1-p-2{
    font-size: 15px;
}
.sec12-div1-i-1 i{
    font-size:20px;
    margin-top: 30px;
    /* border: 2px solid red; */
    border-radius: 50px;
    color:white;
    background-color:#528760;
    padding: 12px;
    text-align: center;
}
.sec12-div1-i-2 i{
      font-size:20px;
    margin-top: 30px;
    /* border: 2px solid red; */
    border-radius: 50%;
    width:20px;
    padding: 12px;
    text-align: center;
    background-color:#528760;
    color: white;
}
.sec12-div1-i-3 i{
      font-size:20px;
    margin-top: 30px;
    /* border: 2px solid red; */
    border-radius: 50%;
    width:20px;
    padding: 12px;
    text-align: center;
    background-color:#528760;
    color: white;
}
.sec12-div1-i-maindiv-1{
    display: flex;
    gap: 5%;
    padding-bottom: 40px;
}
.sec12-div-1{
   /* background-color: #494948; */
   padding-top: 100px;
   /* padding-left: 100px; */
   /* padding-right: 180px; */
   /* border: 2px solid red; */
   width: 200px;
   margin-left: 100px;
}
.sec12-div2-ul-1{
    font-size: 18px;
    line-height: 35px;
    color:#bdbdbd;
    font-weight: 600;
}
.sec12-div1-p-2{
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    color: #bdbdbd;
}
.sec12-div-2{
    /* margin-right: 50px;
     padding: 180px; */
    margin-right: 100px;
    margin-left:100px;
      padding-top: 100px;

}
.sec12-div2-ul-1 i{
    font-size: 15px;
    margin-right: 5px;
}
.sec12-div2-p-1{
    font-size:20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.sec12-div-3{
    margin-right: 50px;
       /* border: 2px solid red; */
   width: 200px;
     padding-top: 100px;
     line-height: 30px;
}
.sec12-div3-ul-1{
    font-size: 18px;
    line-height: 35px;
    color: #bdbdbd;
}
.sec12-div3-ul-1 i{
    font-size: 15px;
    margin-right: 10px;

}
.sec12-div3-p-1{
    font-size:20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.sec12-div-4{
    margin-right: 50px;
       /* border: 2px solid red; */
   width: 200px;
     padding-top: 100px;
     line-height: 30px;
}
.sec12-div4-ul-1{
    font-size: 18px;
    line-height: 35px;
    color:#bdbdbd;
}
.sec12-div4-ul-1 i{
    font-size: 15px;
    margin-right: 10px;

}
.sec12-div4-p-1{
    font-size:20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.sec12-div-5{
    margin-right: 50px;
       /* border: 2px solid red; */
   width: 200px;
   margin-right: 100px;
     padding-top: 100px;
}
.sec12-maindiv-1{
    display:flex;
    background-color: #1a1a1a;
    justify-content: space-around;
    color: white;
    padding-bottom: 40px;
}
.sec12-div5-p-1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color:white;

}
.sec12-div-5{
    line-height: 30px;
    color: #bdbdbd;
}
.sec12-maindiv-1 ul{
    font-size: 15px;
    font-weight: 400;
}
.sec12-div-5>p>i{
    padding-right: 15px;
    /* border: 2px solid red; */
}
.sec13-div-1{
background-color: black;
color: white;
padding:50px;
padding-left: 100px;
}
.sec13-p-1 a{
text-decoration: none;
color: white;
}
.sec13-p-1{
    color: #777777;
}
